# Google ھېسابلىرىڭىزنى مۇشۇ فورماتتا كىرگۈزۈڭ
# ھۆججەتنى .env دەپ ساقلاڭ

GOOGLE_ACCOUNT_1_EMAIL=email1@gmail.com
GOOGLE_ACCOUNT_1_PASSWORD=password1

GOOGLE_ACCOUNT_2_EMAIL=email2@gmail.com
GOOGLE_ACCOUNT_2_PASSWORD=password2

GOOGLE_ACCOUNT_3_EMAIL=email3@gmail.com
GOOGLE_ACCOUNT_3_PASSWORD=password3
